body {
    margin: 0;
    font-family: system-ui;
    background-color: #FCFAFA; 
}

.hero {
    background-color: #516a77;
    background-image: url("images/girl_sipping_alcohol_beach.jpeg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding-top: 400px;
    padding-bottom: 200px;
}

@media (width <=750px) {
    .hero {
        background-color: #516a77;
        background-image: url("images/girl_sipping_alcohol_beach.jpeg");
        color: black;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        background-blend-mode: multiply;
        padding-top: 200px;
        padding-bottom: 200px;
    }

}


.container {
    text-align: right;
    color: FCFAFA;
    /* background-color: rgba(51, 170, 51, .05); */
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 2.375rem;
    font-weight: 500;
    line-height: 1.2;
}


h2 {
    font-size: 2.0rem;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0.4em;
    font-weight: 500;
    line-height: 1.2;
}

/* paragraphs with dark background (e.g. in the error page) */
#white_paragraph {
    color: #FCFAFA; 
    letter-spacing: .1px;
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.main_content {
    margin: 20px;
    padding: 20px 100px 100px 100px;

} 

@media (width <=750px) {
    .main_content {
        margin: 20px;
        padding: 10px 10px 10px 10px;}

    h1 {
        font-size: 1.5rem;
        letter-spacing: -.02em;
        margin-top: 0;
        margin-bottom: 0.4em;
        font-weight: 500;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: -.02em;
        margin-top: 0;
        margin-bottom: 0.4em;
        font-weight: 500;
        line-height: 1.2;
    }

}

.button_primary{
    background-color: #560BAD; 
    border: #5200af; 
    border-radius: 12px;
    color: #fcfafa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
@media (width <=750px) {
    .button_primary {
        font-size: 12px;
        padding: 12px 12px;
    }
}

.button_primary:hover{
    background-color: #33006d; 
    border: #5200af; 
    /* border-radius: 12px;
    color: #fcfafa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; */
      
  }

@media (width>750px){
.rocketContent{
  top: 50%;
  left: 10%;
  position: absolute;
  transform: translateY(-50%);
  color: #f1f0f0;
}

.rocketContent h1{
        font-size: 64px;
        font-weight: 800;
}

.rocketContent h1 span {
    color: rgb(204,180,100)
}

.rocketContent button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;

}

.launch-time{
    display:flex;
    color: #FCFAFA; 
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.rocket {
    width: 250px;
    position: absolute;
    right: 15%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
}

@media (width<=750px){
    .rocketContent{
      top: 50%;
      left: 10%;
      position: absolute;
      transform: translateY(-50%);
      color: #f1f0f0;
    }
    
    .rocketContent h1{
            font-size: 32px;
            font-weight: 600;
    }
    
    .rocketContent h1 span {
        color: rgb(204,180,100)
    }
    
    .rocketContent button{
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
    
    }
    
    .launch-time{
        display:flex;
        color: #FCFAFA; 
    }
    
    .launch-time div{
        flex-basis: 100px;
    }
    
    .launch-time div p{
        font-size: 32px;
        margin-bottom: -8px;
    }
    
    .rocket {
        width: 80px;
        position: absolute;
        right: 5%;
        bottom: 0;
        animation: rocket 4s linear infinite;
    }
    }

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }

}
